<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваш пароль</title>
</head>
<body>
<div class="card text-center alert alert-success" role="alert">
<h1>Ваш пароль:</h1>
<h2>{{ password }}</h2>
<a href="{% url 'home' %}" class="btn btn-primary">Вернуться на главную</a>
</div>
</body>
</html>